{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            {% if post.image %}
              <a href="{% url 'post-detail' post.id %}">
                <img src="{{ post.image.url }}" class="img-fluid rounded mb-3">
              </a>
            {% endif %}
            <div class="article-content">{{ post.content|safe|truncatewords_html:50 }}</div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}