{% extends "blog/logged_out_base.html" %}

{% block content %}
<div class="container hero-content-area">
    <div class="hero-content">
        <h1>Your space to think & share.</h1>
        <p>Find stories worth reading and share ideas worth spreading.</p>
        <a href="{% url 'register' %}" class="start-reading-btn">Start reading</a>
    </div>
    <div class="hero-image-container">
        <img src="{{ MEDIA_URL }}intro.png" alt="Hero Illustration" class="hero-image">
    </div>
</div>
{% endblock content %}