{% extends "blog/base.html" %}
{% block title %}{{ object.title }}{% endblock %}

{% block content %}
  <article class="post-detail-article">
    {% if object.image %}
        <img src="{{ object.image.url }}" class="post-detail-banner" alt="{{ object.title }} Banner">
    {% endif %}

    <h1 class="post-detail-title">{{ object.title }}</h1>
    
    <div class="post-detail-meta">
      <img src="{{ object.author.profile.image.url }}" alt="Author Profile" class="author-avatar">
      <div class="meta-info">
        <a href="{% url 'user-posts' object.author.username %}" class="author-name">{{ object.author }}</a>
        <small class="post-date">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
    </div>

    <div class="post-detail-content">{{ object.content|safe }}</div>

    {% if object.author == user %}
        <div class="post-actions">
            <a class="btn btn-secondary" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
    {% endif %}
  </article>
{% endblock content %}