{% extends "blog/base.html" %}
{% block title %}Profile - {{ user.username }}{% endblock %}

{% block content %}
  <div class="content-section profile-section">
    <div class="profile-header">
      <img class="rounded-circle profile-avatar" src="{{ user.profile.image.url }}" alt="{{ user.username }} Profile Picture">
      <div class="profile-info">
        <h2 class="profile-heading">{{ user.username }}</h2>
        <p class="profile-email">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="profile-form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="form-title">Update Profile Info</legend>
            {{ u_form.as_p }}
            {{ p_form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn-submit" type="submit">Update</button>
        </div>
    </form>
  </div>
{% endblock content %}