{% extends "blog/logged_out_base.html" %}

{% block title %}Get Started - Django Blog{% endblock %}

{% block content %}
<div class="split-form-container">
    
    <!-- Left Side: Information -->
    <div class="split-form-info">
        <h1>Join Django Blog.</h1>
        <p>Create an account to start sharing your stories and ideas with a community of curious readers and writers.</p>
    </div>
    
    <!-- Right Side: The Form -->
    <div class="split-form-side">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn-submit" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="form-footer-link">
            <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
        </div>
    </div>

</div>
{% endblock content %}
