{% extends "blog/base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="content-section form-container">
        <form method="POST">
            {% csrf_token %}
            <h2 class="form-title">Join Django Blog</h2>
            <p class="form-description">Create an account to start sharing your stories and ideas.</p>
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn-submit" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}